[package]
name = "non-fungible-token"
version = "1.1.0"
authors = ["Devendra<chauhandevendra116@gmail.com>"]
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
near-sdk = "4.0.0"
near-contract-standards = "4.0.0"